<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" />
    <meta name="Title" content="PID Form" />
    <meta name="Keywords" content="Infocert Wallet, PID, Enrolment, Form" />
    <meta name="Description" content="PID Form for Infocert Wallet" />
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="referrer" content="no-referrer">
    <title>Form for your Infocert Wallet</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen text-gray-900">
    <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-3xl">
        <header class="flex justify-center border-b pb-4 mb-4">
            <img src="{{url_for('static', filename='ic-logo.svg')}}" alt="Infocert Logo" class="h-16">
        </header>

        <main>
            <h1 class="text-3xl font-bold text-center mb-4">Enter the data for your Infocert Wallet</h1>
            <div class="space-y-4">
                <h2 class="text-xl font-semibold">Please enter your basic information</h2>
                <form id="selectCountryForm" method="post" action="{{redirect_url}}" enctype="multipart/form-data" class="space-y-4">
                    <h3 class="text-lg font-medium">Test Provider Form</h3>
                    <p class="text-gray-700">This data is only used for issuing credentials for testing purposes.</p>

                    <div class="space-y-4">
                        {% for name, value in mandatory_attributes.items() %}
                            {% if value == 'string' %}
                                <div>
                                    <input type="text" class="w-full border rounded-lg p-2" placeholder="{{ name }}" name="{{ name }}" required>
                                </div>
                            {% elif value == 'bool' %}
                                <div class="flex items-center space-x-2">
                                    <label class="text-gray-700">{{ name }}</label>
                                    <input type="hidden" name="{{ name }}" value="false">
                                    <input type="checkbox" name="{{ name }}" value="true">
                                </div>
                            {% elif value == 'full-date' %}
                                <div>
                                    <label class="text-gray-700">{{ name }}</label>
                                    <input type="date" class="w-full border rounded-lg p-2" name="{{ name }}" required>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="flex justify-between mt-4">
                        <input type="submit" value="Submit" name="proceed" class="px-4 py-2 bg-blue-600 text-white rounded-lg">
                        <input type="button" value="Cancel" name="Cancelled"class="px-4 py-2 bg-gray-500 text-white rounded-lg" onclick="window.history.back();">
                    </div>
                </form>
            </div>
        </main>
    </div>
</body>

</html>