<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" />    
    <meta name="Title" content="PID Form" />
    <meta name="Keywords" content="Infocert Wallet, PID, Enrolment, Form" />
    <meta name="Description" content="PID Form for Infocert Wallet" />
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="referrer" content="no-referrer">
    <title>Confirm data from your Infocert Wallet</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen text-gray-900">
    <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-3xl">
        <header class="flex justify-center border-b pb-4 mb-4">
            <img src="{{url_for('static', filename='ic-logo.svg')}}" alt="Infocert Logo" class="h-16">
        </header>

        <main>
            <h1 class="text-3xl font-bold text-center mb-4">Authorize data from your Infocert Wallet</h1>
            <div class="space-y-4">
                <h2 class="text-xl font-semibold">Please confirm your information</h2>
                <form id="selectCountryForm" method="post" action="{{redirect_url}}" class="space-y-4">
                    <h3 class="text-lg font-medium">Provider Form Authentication</h3>
                    <p class="text-gray-700">Please confirm if your data is right</p>

                    <div class="space-y-4">
                        {% for attributes in presentation_data.keys() %}
                            <h3 class="text-lg font-semibold">{{attributes}}</h3>
                            <div>
                                {% for name, value in presentation_data[attributes].items() %}
                                    {% if name == "portrait" %}
                                        <div class="flex justify-center">
                                            <img class="rounded-lg shadow-md" src="data:image/png;base64,{{value}}" alt="User Portrait">
                                        </div>
                                    {% elif name == "driving_privileges" %}
                                        <h5 class="font-semibold">{{name}}</h5>
                                        <div class="bg-gray-200 p-4 rounded-lg">
                                            {% for i_value in value %}
                                                <div class="p-2 bg-gray-100 rounded-lg mb-2">
                                                    {% for key, val in i_value.items() %}
                                                        <label class="block text-gray-700">{{key}}</label>
                                                        <input type="text" class="w-full border rounded-lg p-2" name="{{ key }}" value="{{val}}" readonly>
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <div>
                                            <label class="block text-gray-700">{{name}}</label>
                                            <input type="text" class="w-full border rounded-lg p-2" name="{{ name }}" value="{{value}}" readonly>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <input type="hidden" value="{{ user_id }}" name="user_id">
                    </div>

                    <div class="flex justify-between mt-4">
                        <input type="submit" value="Authorize" class="px-4 py-2 bg-blue-600 text-white rounded-lg">
                        <a href="/auth_choice" class="px-4 py-2 bg-gray-500 text-white rounded-lg">Cancel</a>
                    </div>
                </form>
            </div>
        </main>
    </div>
</body>

</html>