<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="Title" content="EUDI Wallet Identification" />
    <meta name="Keywords" content="EUDI Wallet, Identification, OpenID" />
    <meta name="Description" content="Start identification for EUDI Wallet" />
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="referrer" content="no-referrer">

    <script src="https://cdn.tailwindcss.com"></script>
    <title>TOP Identification - EUDI Wallet</title>
</head>

<body class="text-gray-900 flex flex-col min-h-screen">

    <div class="container mx-auto p-6 flex-grow">
        <!-- Header -->
        {% include 'ewc/header.html' %}

        <!-- Main Content -->
        <main class="bg-white shadow-md rounded-lg p-6 w-full max-w-2xl mx-auto flex flex-col justify-center items-center text-center flex-grow">
            <h1 class="text-2xl font-semibold">EUDI Wallet Identification</h1>

            <div id="genericErrorsDesc" class="text-red-500 text-center mt-4"></div>

            <div class="mt-4 text-lg text-gray-700">
                <p>
                    Start the <b>identification process</b> to retrieve dossier information from <b>TOP</b> and issue credentials.
                </p>
                <p class="mt-2">
                    Click the button below to <b>proceed with identification</b>:
                </p>
            </div>

            <a href="{{ identification_url }}" class="mt-6 px-6 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700">
                Start Identification
            </a>

            <div class="mt-4 text-lg text-gray-700">
                <p>
                    Start the <b>issuance process</b> with sample data.
                </p>
                <p class="mt-2">
                    Click the button below to get a credential offer for <b>Identity Credential</b>:
                </p>
            </div>

            <a href="{{ issuance_url }}" class="mt-6 px-6 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700">
                Start Issuance
            </a>
        </main>
    </div>

    <!-- Footer -->
    {% include 'misc/footer.html' %}

</body>

</html>
