<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="Title" content="Request Credentials" />
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="referrer" content="no-referrer">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Request Credentials</title>
</head>

<body class="text-gray-900 flex flex-col min-h-screen">
    {% include 'misc/header.html' %}

    <div class="container mx-auto p-6 flex-grow">
        <main class="bg-white shadow-md rounded-lg p-6 w-full max-w-3xl mx-auto text-center">
            <h1 class="text-2xl font-semibold text-blue-800 mb-4">Present Diploma Credentials from your EUDI Wallet</h1>

            <div class="flex flex-col items-center space-y-4">
                <h2 class="text-lg font-medium text-gray-800">Scan the QR Code</h2>
                <img src="{{ qrcode }}" class="w-48 h-48">
                <p class="text-gray-600">Scan with your wallet or click below to request directly.</p>

                <div class="flex flex-col md:flex-row space-y-2 md:space-x-4 md:space-y-0 mt-4">
                    <a href="{{ url_data }}" class="px-6 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">Request</a>
                    <a href="auth_choice" class="px-6 py-2 bg-gray-300 text-gray-800 rounded-lg hover:bg-gray-400">Back</a>
                </div>
            </div>
        </main>
    </div>

    {% include 'misc/footer.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        var transaction_id = '{{ transaction_id }}';

        function Ajax_request() {
            $.ajax({
                url: '{{ redirect_url }}rtu_diplomas/checkAuth',
                method: 'GET',
                data: { "transaction_id": transaction_id },
                success: function (response) {
                    console.log('Success:', response);
                    const sessionId = '{{ session_id }}';
                    if (response) {
                        window.location.replace(location.origin + "/rtu_diplomas/verify?transaction_id=" + transaction_id);
                        clearInterval(intervalId);
                    }
                }
            });
        }

        const intervalId = setInterval(Ajax_request, 4000);
        setTimeout(() => clearInterval(intervalId), 60000); // stop after 1 min
    </script>
</body>

</html>