<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="Title" content="Request QEAAs" />
    <meta name="Keywords" content="EUDI Wallet, QEAA, Enrolment, OpenBank" />
    <meta name="Description" content="Request QEAA for EUDI Wallet" />
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="referrer" content="no-referrer">

    <script src="https://cdn.tailwindcss.com"></script>
    <title>Unisa EAA Issuer</title>
</head>

<body class="text-gray-900 flex flex-col min-h-screen">
        <!-- Header -->
        {% include 'misc/header.html' %}

    <div class="container mx-auto p-6 flex-grow">

        <!-- Main Content -->
        <main class="bg-white shadow-md rounded-lg p-6 w-full max-w-2xl mx-auto flex flex-col justify-center items-center text-center flex-grow">
            <h1 class="text-2xl font-semibold text-center">Unisa EAAs Issuer</h1>

            <div id="genericErrorsDesc" class="text-red-500 text-center mt-4"></div>

            <div class="mt-4 text-lg text-gray-700">
                <p>
                    This issuer provides Qualified Electronic Attestation of Attributes (QEAAs) in mDoc and SD-JWT VC formats.
                    Access the OpenID4VCI endpoint here:
                    <a href="{{ oidc }}" class="text-blue-500 underline">View OID4VCI Endpoint</a>.
                </p>
                <p class="mt-2">
                    To request a credential, visit the Credential Offer URL:
                    <a href="{{ service_url }}credential_offer" class="text-blue-500 underline">
                        Request Credential
                    </a>.
                </p>
                <p class="mt-2">
                    This is a fork of the original EUDI Wallet PID Issuer. You can find the original project here:
                    <a href="https://github.com/eu-digital-identity-wallet/eudi-srv-web-issuing-eudiw-py" class="text-blue-500 underline">
                        EUDI Wallet Issuer on GitHub
                    </a>.
                </p>
            </div>
        </main>
    </div>

    <!-- Footer -->
    {%  include 'misc/footer.html' %}

</body>

</html>
