<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="Title" content="Request Credentials" />
    <meta name="Keywords" content="EUDI Wallet, PID, Enrolment, Verifiable Credentials" />
    <meta name="Description" content="Request Credentials for EUDI Wallet" />
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="referrer" content="no-referrer">
    <title>Infocert Testing Issuer</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 text-gray-900 flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-2xl">
        <header class="flex justify-center border-b pb-4 mb-4">
            <img src="{{url_for('static', filename='ic-logo.svg')}}" alt="Infocert Logo" class="h-16">
        </header>

        <main>
            <h1 class="text-3xl font-bold text-center mb-4">Infocert Testing Issuer</h1>
            <div class="text-center space-y-4">
                <p>This is a Infocert Testing Issuer supporting credentials in mDoc and SD-JWT VC format at the following OID4VCI url:</p>
                <p><a href="{{oidc}}" class="text-blue-600 hover:underline">{{oidc}}</a></p>
                <p>Credential Offer url:</p>
                <p><a href="{{service_url}}credential_offer" class="text-blue-600 hover:underline">{{service_url}}credential_offer</a></p>
                <p>Issuer repository:</p>
                <p><a href="https://github.com/eu-digital-identity-wallet/eudi-srv-web-issuing-eudiw-py" class="text-blue-600 hover:underline">GitHub Repository</a></p>
            </div>

            <div class="mt-6">
                <h2 class="text-xl font-semibold text-center">Guides</h2>
                <ul class="list-none mt-4 space-y-2 text-center">
                    <li><a href="static/issuer_guides/credential_offer_guide.html" class="text-blue-600 hover:underline">Guide Credential Offer</a></li>
                    <li><a href="static/issuer_guides/credential_offer_guide_pre_auth.html" class="text-blue-600 hover:underline">Guide Credential Offer Pre-Authorization</a></li>
                    <li><a href="static/issuer_guides/credential_offer_guide_deferred.html" class="text-blue-600 hover:underline">Guide Credential Offer Deferred</a></li>
                    <li><a href="static/issuer_guides/credential_offer_dynamic_age_over18.html" class="text-blue-600 hover:underline">Guide Credential Offer Dynamic</a></li>
                </ul>
            </div>
        </main>

        <footer class="mt-6 border-t pt-4 text-center text-gray-600">
            <p>&copy; 2025 Infocert - Etuitus</p>
        </footer>
    </div>
</body>

</html>
