<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" />
    <meta name="Title" content="Request Credentials" />
    <meta name="Keywords" content="Infocert Wallet, Credentials, Enrolment" />
    <meta name="Description" content="Request Credentials for Infocert Wallet" />
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="referrer" content="no-referrer">
    <title>Request Credentials for your Infocert Wallet</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen text-gray-900">
    <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-2xl text-center">
        <header class="flex justify-center border-b pb-4 mb-4">
            <img src="{{url_for('static', filename='ic-logo.svg')}}" alt="Infocert Logo" class="h-16">
        </header>

        <main>
            <h1 class="text-3xl font-bold mb-4">Request Credentials for your Wallet</h1>
            <h2 class="text-xl font-semibold mb-4">QR Code</h2>
            <div class="flex flex-col items-center space-y-4">
                <img src="{{qrcode}}" class="rounded-lg shadow-md">
                <p class="text-gray-700">Scan the QR Code with your phone's camera app or click Request to be redirected</p>
                <div class="w-full">
                    <label class="block text-gray-700 font-medium">Transaction Code</label>
                    <input type="text" class="w-full border rounded-lg p-2 text-center" name="tx_code" value="{{tx_code}}" readonly>
                </div>
            </div>
            <div class="mt-6 space-x-2">
                <a href="{{wallet_dev}}" class="px-4 py-2 bg-blue-600 text-white rounded-lg">Use Wallet Tester</a>
                <a href="{{url_data}}" class="px-4 py-2 bg-blue-600 text-white rounded-lg">Use EUDIW</a>
                <a href="credential_offer" class="px-4 py-2 bg-gray-500 text-white rounded-lg">Back</a>
            </div>
        </main>
    </div>
</body>

</html>