<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" />
    <meta name="Title" content="Request Credentials" />
    <meta name="Keywords" content="EUDI Wallet, Credentials, Enrolment" />
    <meta name="Description" content="Request Credentials for EUDI Wallet" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="Cache-Control" content="no-cache,no-store,must-revalidate" />
    <meta name="Pragma" content="no-cache" />
    <meta name="referrer" content="no-referrer">

    <script src="https://cdn.tailwindcss.com"></script>
    <title>Request Credentials for your EUDI Wallet</title>
</head>

<body class="text-gray-900 flex flex-col min-h-screen">
    <div class="container mx-auto p-6 flex-grow">
        <!-- Header -->
        {% include 'misc/header.html' %}

        <!-- Main Content -->
        <main class="bg-white shadow-md rounded-lg p-8 max-w-2xl mx-auto text-center">
            <h1 class="text-2xl font-semibold">Request Credentials for your EUDI Wallet</h1>

            <h2 class="text-xl font-medium mt-6">QR Code</h2>

            <div class="flex flex-col items-center space-y-4 mt-4">
                <img src="{{ qrcode }}" class="w-80 h-80">

                <p class="text-gray-700 max-w-sm">
                    Scan the QR Code with your phone's camera app or click Request to be redirected.
                </p>

                <div class="w-full max-w-xs">
                    <label class="block text-gray-700 font-medium">Transaction Code</label>
                    <input type="text" class="w-full p-3 border border-gray-300 rounded-lg text-center bg-gray-100"
                           name="tx_code" value="{{ tx_code }}" readonly>
                </div>
            </div>

            <!-- Buttons -->
            <div class="flex flex-wrap justify-center gap-4 mt-6">
{#                <a href="{{ wallet_dev }}" class="px-6 py-2 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700">#}
{#                    Use Wallet Tester#}
{#                </a>#}
                <a href="{{ url_data }}" class="px-6 py-2 bg-green-600 text-white font-semibold rounded-lg hover:bg-green-700">
                    Use EUDIW
                </a>
                <a href="credential_offer" class="px-6 py-2 bg-gray-500 text-white font-semibold rounded-lg hover:bg-gray-600">
                    Back
                </a>
            </div>
        </main>
    </div>

    <!-- Footer -->
    {%  include 'misc/footer.html' %}

</body>

<script>
document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("check")?.addEventListener("change", function () {
        document.getElementById("btncheck").disabled = !this.checked;
    });
});
</script>

</html>
